@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Space Mono', monospace;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-strong-cyan: hsl(172, 67%, 45%);
  --clr-hover-cyan: hsl(172, 61%, 77);
  --clr-very-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-light-grayish-cyan-2: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--clr-light-grayish-cyan);
  color: var(--clr-dark-grayish-cyan);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-bold);
  line-height: 1.7;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */
.percent-item__label {
  font-size: var(--fs-24);
}

.result-label__big {
  color: var(--clr-white);
}

.result-label__small {
  color: var(--clr-dark-grayish-cyan-2);
  font-size: var(--fs-13);
}

.result-amount {
  color: var(--clr-strong-cyan);
  font-size: var(--fs-32);
}

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  width: 100%;
  color: var(--clr-very-dark-cyan);
  background: var(--clr-strong-cyan);
  font-family: inherit;
  font-size: var(--fs-20);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: var(--clr-hover-cyan);
}

/* ================== */
/* Utility styles */
/* ================== */

/* ================== */
/* SECTIONS */
/* ================== */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 3.125em;
}

.calculator {
  width: 100%;
  background: var(--clr-white);
}

/* ================== */
/* ================== */
/* ================== */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
