@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Space Mono', monospace;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-strong-cyan: hsl(172, 67%, 45%);
  --clr-hover-cyan: hsla(172, 61%, 77%, 1);

  --clr-very-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --clr-btn-disabled: hsla(183, 78%, 24%, 1);

  --clr-custom: hsla(180, 18%, 40%, 1);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-light-grayish-cyan-2: hsl(189, 41%, 97%);
  --clr-light-input-bg: hsl(185, 38%, 97%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--clr-light-grayish-cyan);
  color: var(--clr-dark-grayish-cyan);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-bold);
  line-height: 1.7;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */
.percent-item__label {
  font-size: var(--fs-24);
}

.result-label__big {
  color: var(--clr-white);
}

.result-label__small {
  color: var(--clr-dark-grayish-cyan-2);
  font-size: var(--fs-13);
}

.result-amount {
  color: var(--clr-strong-cyan);
  font-size: var(--fs-32);
}

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  background: var(--clr-strong-cyan);
  border: none;
  border-radius: 0.25em;
  color: var(--clr-very-dark-cyan);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fs-20);
  font-weight: var(--fw-bold);
  padding: 0.5em 1em;
  text-transform: uppercase;
  width: 100%;
}

.btn:hover,
.btn:focus {
  background: var(--clr-hover-cyan);
}

#reset-btn.disabled {
  background: var(--clr-btn-disabled);
  cursor: not-allowed;
}

/* ================== */
/* Utility styles */
/* ================== */

/* This takes away the spinner widget in the input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input {
  font-family: inherit;
  font-size: var(--fs-24);
  font-weight: var(--fw-bold);
}

/* ================== */
/* SECTIONS */
/* ================== */
.content {
  margin-top: 3.125em;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: var(--clr-white);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin-top: 2.5em;
  padding: 1.5em 1.5em 2em;
  width: 100%;
  max-width: 460px;
}

.input-section {
  padding: 0.8em;
}

.input-box {
  border: 2px solid var(--clr-light-input-bg);
  margin-top: 0.4em;
  width: 100%;
  /* Position */
  position: relative;
}

.input-box input {
  background: var(--clr-light-input-bg);
  border: none;
  border-radius: 0.25em;
  color: var(--clr-very-dark-cyan);
  height: 48px;
  outline: none;
  padding: 0.25em 0.725em;
  text-align: right;
  width: 100%;
}

.input-box:hover,
.input-box:focus {
  border: 2px solid var(--clr-strong-cyan);
  border-radius: 0.25em;
}

.dollar-icon,
.people-icon {
  /* Position */
  position: absolute;
  top: 17px;
  left: 19px;
}

.tip-area,
.people-area {
  margin-top: 2em;
}

.grid {
  margin-top: 1em;
  /* Grid */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
}

.percent-item {
  background: var(--clr-very-dark-cyan);
  /* Position */
  position: relative;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25em;
  border: 2px solid transparent;
}

.percent-item.clicked {
  background: var(--clr-strong-cyan);
}

.percent-item:hover,
.percent-item:focus {
  background: var(--clr-light-grayish-cyan);
}

.input-box--custom-tip {
  margin-top: 0;
}

.percent-item__label {
  color: var(--clr-white);
}

.percent-item:hover .percent-item__label,
.percent-item:focus .percent-item__label {
  color: var(--clr-very-dark-cyan);
}

.percent-item__radio {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  width: 100%;
  /* Position */
  position: absolute;
  top: 0;
  left: 0;
}

/* People area */
.people-area {
  position: relative;
}

.error-message {
  display: none;
  /* Position */
  position: absolute;
  top: 0;
  right: 0;
}

.error-message.show {
  display: block;
  color: red;
}

#input-box-people.error {
  border: 2px solid red;
  border-radius: 0.25em;
}

/* Result section */
.result-section {
  background: var(--clr-very-dark-cyan);
  border-radius: 1em;
  margin-top: 2em;
  padding: 2.25em 1.5em 1.5em;
}

.result-el-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-el-area:nth-of-type(2) {
  margin-top: 1em;
}

.result-label > * {
  display: block;
}

.result-label__small {
  margin-top: -0.5em;
}

.btn {
  margin-top: 2em;
}

/* Footer */
.footer {
  margin: 2em 0 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop */
@media (min-width: 940px) {
  /* Typography */
  .result-amount {
    font-size: var(--fs-48);
  }

  .calculator {
    border-radius: 1em;
    padding: 2em;
    max-width: 920px;
    /* Grid */
    display: grid;
    grid-template-columns: 1.1fr 1fr;
  }

  .input-section {
    padding: 1em 3em 1em 1em;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .input-box--custom-tip .custom-tip-input {
    padding: 0.25em 0.5em;
  }

  .result-section {
    margin-top: unset;
    padding: 2.5em;
    /* Grid */
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }

  .result-el-area:nth-of-type(2) {
    margin-top: unset;
  }

  .result-section .btn {
    grid-row: 4 / 5;
  }
}

@media (min-height: 900px) {
  body {
    min-height: 100vh;
    /* Grid */
    display: grid;
    place-content: center;
  }

  .content {
    margin-top: 1em;
  }
}
